@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --main-green: #18CFAB;
    --deep-blue: #1C2A33;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100vh;
    background: url("./Step_Project_Ham/Sections_background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.header-nav {
    height: 120px;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(70, 69, 69, 0.6);
}

.logo {
    margin-left: 300px;
    position: relative;
}

.logo-link {
    top: 18px;
    left: 12.5px;
    position: absolute;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    word-wrap: break-word;
    color: white;
}

.logo-text {
    text-decoration: none;
    color: white;
    position: relative;
    top: -18px;

    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 48px;
    word-wrap: break-word
}

.logo-text span {
    color: #18CFAB;
    font-size: 32px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word
}

.nav-list {
    margin-right: 300px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    text-decoration: none;
    color: #FFFFFF99;
}

.nav-link:hover {
    color: #18CFAB;
}

.header-content {
    height: 80vh;
    width: 100%;
    display: block;
}

.header-content {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 16em;
}

.top-text {
    color: white;
    font-size: 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.top-text span {
    color: var(--main-green);
}

.middle-text {
    color: white;
    font-size: 78px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: uppercase;
}

.bottom-text {
    color: #D4D4D4;
    font-size: 34px;
    font-family: 'Montserrat';
    font-weight: 200;
    margin-bottom: 2em;
}

.btn {
    margin: 15px;
    width: 169px;
    height: 63px;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    border-top: 6px solid white;
    border-radius: 5px;
    border-left: #18CFAB;
}

.explore-btn {
    background: var(--main-green);
}

.purchase-btn {
    background: #00CBF6;
}

.advantages-boxes {
    width: 100%;
    height: 377px;
    margin-top: 8px;
}

.adv-list {
    display: grid;
    list-style: none;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100% 100% 100% 100%;
}

.adv-item {
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box1, .box3 {
    background-color: var(--deep-blue);
}

.box1, .box3 p {
    color: var(--main-green);
}

.box2, .box4 {
    background-color: var(--main-green);
}

.box2, .box4 {
    color: white;
}

.adv-text {
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.adv-img {
    width: 85px;
    height: 85px;
}

.services-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.services-box {
    padding-top: 83px;
    margin-bottom: 80px;
    width: 1160px;
    height: 375px;
}

.services-title {
    color: #4E4E4E;
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 40px;
}

.services-list {
    margin-top: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-item {
    width: 195px;
    height: 76px;
    text-align: center;
    color: grey;
}

.selected {
    background-color: #18CFAB;
    color: white;
}

.services-item:hover {
    border: #18CFAB solid 2px;
}

.services-item:hover {
    border: 1px solid #18CFAB;
}

.services-item p {

    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding-top: 25px;
}

.services-img {
    width: 192px;
    height: 139px;
}

.line {
    margin-top: 5px;
    margin-bottom: 4px;
    color: var(--main-green);
}

.line1 {
    width: 8%;
    margin-left: 47%;
}

.line2 {
    width: 8%;
    margin-left: 48%;
}

.info-tabs {
    display: flex;
    text-align: left;
}

.services-text {
    padding-top: 20px;
    padding-left: 20px;
    color: #777777;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300;
}

.services-img {
    padding-top: 20px;
    width: 192px;
    height: 139px;
}

.order-container {
    width: 100vw;
    height: 476px;
    background: url("./Step_Project_Ham/Sections_background/section_2_.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.order-content {
    text-align: center;
    padding-top: 128px;
}

.order-content button {
    text-transform: uppercase;
    margin-top: 40px;
}

.order-title {
    color: #18CFAB;
    font-size: 40px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
}

.order-text {
    color: #D8D8D8;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 12px;
}

.works-container {
    background: #E9EDEF;
    width: 100vw;
    height: 150vh;
    text-align: center;
}

.works-title {
    padding-top: 50px;
    padding-bottom: 40px;
    color: #4E4E4E;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 40px;
}

.options-list {
    margin-top: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.options-item {
    padding: 20px;
    border: 1px solid lightblue;

}
.options-item:hover {
    border: 1px solid #18CFAB;
}

.options-text {
    color: #717171;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.options-text:hover {
    color: #18CFAB;
}

.work-element {
    display: none;
}

.options-table {
    background: #E9EDEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    text-align: center;
}

.options-cards-list {
    margin-top: 180px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1100px;
}

.card-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 9em;
    height: 8em;
}

.load-btn {
    width: 169px;
    height: 63px;
    color: white;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    border: 6px solid var(--main-green);
    border-radius: 5px;
    background: var(--main-green);
    text-transform: uppercase;
}
.load-btn img{
    padding-right: 15px;
}

.blog-container {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-bottom: 130px;
}

.blog-case {
    padding-top: 40px;
    justify-content: center;
    display: flex;
    margin: 0;
}

.blog-title {
    padding-top: 90px;
    padding-bottom: 40px;
    color: #4E4E4E;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 40px;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    padding: 20px;
    max-width: 1120px;

}

.blog-text {
    color: #717171;
    font-size: 19px;
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 39px;
}

.blog-item {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.blog-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.blog-author {
    color: #777777;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 39px;
}

.date {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    padding: 5px;
    display: flex;
    width: 38px;
    height: 37px;
    color: white;
}

.date p {
    font-family: 'Montserrat';
    font-size: 15px;
}

.blog-item:hover .date {
    background-color: var(--main-green);
}

.blog-item:hover .blog-text {
    color: var(--main-green);
}

.about-ham-container {
    width: 100vw;
    height: 150vh;
    background: #1C2A33;
    text-align: center;
    background: url("./Step_Project_Ham/Sections_background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.about-title {
    color: white;
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 40px;
    padding-top: 100px;
}

.bol {
    padding-top: 70px;
}

.about-block {
    width: 100%;
    height: 200px;
    text-align: center;
}

.about-text {
    color: #BBBBBB;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 30px;
}

.about-block {
    justify-content: center;
    text-align: center;
    display: flex;
}

.about-block span {
    padding-top: 40px;
    width: 1000px;
}

.about-name {
    color: #18CFAB;
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 27px;
}

.about-job {
    color: #BBBBBB;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 300;
    line-height: 27px;
}

.about-main-photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.main-frame {
    position: absolute;
    width: 220px;
    height: 220px;
}

.main-photo {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.face-scroll {
    margin-top: 150px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.face-item {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.face-scroll div p {
    font-size: 30px;
}

.face-item-img {
    z-index: 1;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.face-item-frame {
    position: absolute;
    width: 120px;
    height: 120px;
}

.selected-face {
    padding-bottom: 35px;
}

.arrow {
    width: 50px;
    height: 50px;
}

footer {
    height: 120px;
    width: 100vw;
    background-color: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #AEAEAE;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 26px;
}